@model Entity.Concrete.Kullanici

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Online Masa Rezervasyon Sistemi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("KullaniciEkle", "Kullanici")">Kayıt Ol</a>
                    </li>
                </ul>
                <a href="#" style="text-decoration: none">Giriş Yap</a>
                <a href="#" style="margin-left: 20px; text-decoration: none">Çıkış Yap</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <form action="/Home/Login/" method="post">
           

            <div class="row justify-content-center mt-5">
                <div class="col-6 mt-6">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                         @Html.TextBoxFor(k => k.Eposta, new {@class = "form-control" })
                         @Html.ValidationMessageFor(k => k.Eposta, "", new {@class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

