@model Entity.Concrete.Ofis

@{
    ViewData["Title"] = "OfisEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("OfisEkle", "Ofis", FormMethod.Post))
{
    @Html.Label("Ofis Adı")
    @Html.TextBoxFor(x => x.OfisAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Aktif")
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value=true id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="margin-right: 30px">
            Aktif
        </label>
        <input class="form-check-input" type="checkbox" value=false id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Aktif Değil
        </label>
    </div>
    <br />
    <button class="btn btn-info">Ekle</button>
}