@model Entity.Concrete.Departman

@{
    ViewData["Title"] = "DepartmanGüncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    @Html.HiddenFor(x => x.DepartmanId)
    @Html.Label("Departman Adı")
    @Html.TextBoxFor(x => x.DepartmanAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Aktiflik Durumu")
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Aktif" id="gridRadios1" value=true checked>
        <label class="form-check-label">
            Aktif
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Aktif" id="gridRadios1" value=false checked>
        <label class="form-check-label">
            Aktif Değil
        </label>
    </div>
    <button class="btn btn-success">Güncelle</button>
}