@model Entity.Concrete.Departman

@{
    ViewData["Title"] = "DepartmanEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DepartmanEkle", "Departman", FormMethod.Post))
{
    @Html.Label("Departman Adı")
    @Html.TextBoxFor(x => x.DepartmanAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DepartmanAdi, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-info">Ekle</button>
}