@using Entity.Concrete
@model List<Departman>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive pb-6">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Departman Adı</th>
                <th scope="col" class="sort" data-sort="status">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Güncelle</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="name mb-0 text-sm">@item.DepartmanId</span>
                            </div>
                        </div>
                    </th>
                    <td>
                        @item.DepartmanAdi
                    </td>
                    <td>
                        <a href="/Departman/DepartmanSil/@item.DepartmanId" class="btn btn-primary">Sil</a>
                    </td>
                    <td>
                        <a href="/Departman/DepartmanGüncelle/@item.DepartmanId" class="btn btn-primary">Güncelle</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a href="/Departman/DepartmanEkle" class="btn btn-primary">Departman Ekle</a>
    <a href="/Departman/AktifOlmayanDepartmanlar" class="btn btn-primary">Aktif Olmayan Departmanları Listele</a>
</div>